{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="row">
            <div class="sidebar col-lg-2 col-md-3">
                <h2 class="font-weight-bold">Wiki</h2>
                <form action="{% url 'search' %}" method="POST"> <!-- For "POST" method,the form data is submitted to the server via the request body, rather than in the URL. For "GET", the form data is appedned to the URL -->
                    {% csrf_token %}
                    <input class="search my-3" type="text" name="q" placeholder="Search Encyclopedia"> <!-- URL with name search is generated. A request containing the forms details is sent to the views.search function through the url -->
                </form>
                <div>
                    <a href="{% url 'index' %}">Home</a>
                </div>
                <div>
                    <a href="{% url 'new_page' %}">Create New Page</a>
                </div>
                <div>
                    <a href="{% url 'random_page' %}">Random Page</a>
                </div>
                {% block nav %}
                {% endblock %}
            </div>
            <div class="main col-lg-10 col-md-9">
                {% block body %}
                {% endblock %}
            </div>
        </div>

    </body>
</html>